WebApplication1/src/java/META-INF/MDLImport.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mdl.xact/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mdl.xact/" name="MDLImport">
<types>
<xsd:schema>
<xsd:import namespace="http://mdl.xact/" schemaLocation="http://localhost:8080/MDLImport/MDLImport?xsd=1"/>
</xsd:schema>
</types>
<message name="RemoveServer">
<part name="parameters" element="tns:RemoveServer"/>
</message>
<message name="RemoveServerResponse">
<part name="parameters" element="tns:RemoveServerResponse"/>
</message>
<message name="ImportMDL">
<part name="parameters" element="tns:ImportMDL"/>
</message>
<message name="ImportMDLResponse">
<part name="parameters" element="tns:ImportMDLResponse"/>
</message>
<message name="RemoveMDL">
<part name="parameters" element="tns:RemoveMDL"/>
</message>
<message name="RemoveMDLResponse">
<part name="parameters" element="tns:RemoveMDLResponse"/>
</message>
<portType name="MDLImport">
<operation name="RemoveServer">
<input wsam:Action="http://mdl.xact/MDLImport/RemoveServerRequest" message="tns:RemoveServer"/>
<output wsam:Action="http://mdl.xact/MDLImport/RemoveServerResponse" message="tns:RemoveServerResponse"/>
</operation>
<operation name="ImportMDL">
<input wsam:Action="http://mdl.xact/MDLImport/ImportMDLRequest" message="tns:ImportMDL"/>
<output wsam:Action="http://mdl.xact/MDLImport/ImportMDLResponse" message="tns:ImportMDLResponse"/>
</operation>
<operation name="RemoveMDL">
<input wsam:Action="http://mdl.xact/MDLImport/RemoveMDLRequest" message="tns:RemoveMDL"/>
<output wsam:Action="http://mdl.xact/MDLImport/RemoveMDLResponse" message="tns:RemoveMDLResponse"/>
</operation>
</portType>
<binding name="MDLImportPortBinding" type="tns:MDLImport">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RemoveServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ImportMDL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemoveMDL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MDLImport">
<port name="MDLImportPort" binding="tns:MDLImportPortBinding">
<soap:address location="http://localhost:8080/MDLImport/MDLImport"/>
</port>
</service>
</definitions>