WebApplication1/web/WEB-INF/wsdl/10.53.55.17_8080/XActEngineServer/XActEngWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://xactws.acrtek.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://xactws.acrtek.com/">

<xs:element name="compute" type="tns:compute"/>

<xs:element name="computeResponse" type="tns:computeResponse"/>

<xs:complexType name="compute">
<xs:sequence>
<xs:element name="projectID" type="xs:string" minOccurs="0"/>
<xs:element name="modelID" type="xs:string" minOccurs="0"/>
<xs:element name="scenarioID" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:int"/>
<xs:element name="points" type="xs:int"/>
<xs:element name="limitStart" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="computeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>