WebApplication1/web/WEB-INF/wsdl/localhost_8080/MDLImport/MDLImport.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mdl.xact/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mdl.xact/" name="MDLImport">
<types>
<xsd:schema>
<xsd:import namespace="http://mdl.xact/" schemaLocation="http://localhost:8080/MDLImport/MDLImport?xsd=1"/>
</xsd:schema>
</types>
<message name="ImportMDL">
<part name="parameters" element="tns:ImportMDL"/>
</message>
<message name="ImportMDLResponse">
<part name="parameters" element="tns:ImportMDLResponse"/>
</message>
<message name="RemoveServer">
<part name="parameters" element="tns:RemoveServer"/>
</message>
<message name="RemoveServerResponse">
<part name="parameters" element="tns:RemoveServerResponse"/>
</message>
<message name="sayhello">
<part name="parameters" element="tns:sayhello"/>
</message>
<message name="sayhelloResponse">
<part name="parameters" element="tns:sayhelloResponse"/>
</message>
<message name="BuildFromDB">
<part name="parameters" element="tns:BuildFromDB"/>
</message>
<message name="BuildFromDBResponse">
<part name="parameters" element="tns:BuildFromDBResponse"/>
</message>
<portType name="MDLImport">
<operation name="ImportMDL">
<input wsam:Action="http://mdl.xact/MDLImport/ImportMDLRequest" message="tns:ImportMDL"/>
<output wsam:Action="http://mdl.xact/MDLImport/ImportMDLResponse" message="tns:ImportMDLResponse"/>
</operation>
<operation name="RemoveServer">
<input wsam:Action="http://mdl.xact/MDLImport/RemoveServerRequest" message="tns:RemoveServer"/>
<output wsam:Action="http://mdl.xact/MDLImport/RemoveServerResponse" message="tns:RemoveServerResponse"/>
</operation>
<operation name="sayhello">
<input wsam:Action="http://mdl.xact/MDLImport/sayhelloRequest" message="tns:sayhello"/>
<output wsam:Action="http://mdl.xact/MDLImport/sayhelloResponse" message="tns:sayhelloResponse"/>
</operation>
<operation name="BuildFromDB">
<input wsam:Action="http://mdl.xact/MDLImport/BuildFromDBRequest" message="tns:BuildFromDB"/>
<output wsam:Action="http://mdl.xact/MDLImport/BuildFromDBResponse" message="tns:BuildFromDBResponse"/>
</operation>
</portType>
<binding name="MDLImportPortBinding" type="tns:MDLImport">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ImportMDL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemoveServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayhello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuildFromDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MDLImport">
<port name="MDLImportPort" binding="tns:MDLImportPortBinding">
<soap:address location="http://localhost:8080/MDLImport/MDLImport"/>
</port>
</service>
</definitions>