WebApplication1/web/WEB-INF/wsdl/localhost_8080/MDLImport/MDLImport.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://mdl.xact/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mdl.xact/">

<xs:element name="BuildFromDB" type="tns:BuildFromDB"/>

<xs:element name="BuildFromDBResponse" type="tns:BuildFromDBResponse"/>

<xs:element name="ImportMDL" type="tns:ImportMDL"/>

<xs:element name="ImportMDLResponse" type="tns:ImportMDLResponse"/>

<xs:element name="RemoveServer" type="tns:RemoveServer"/>

<xs:element name="RemoveServerResponse" type="tns:RemoveServerResponse"/>

<xs:element name="sayhello" type="tns:sayhello"/>

<xs:element name="sayhelloResponse" type="tns:sayhelloResponse"/>

<xs:complexType name="BuildFromDB">
<xs:sequence>
<xs:element name="proID" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:string" minOccurs="0"/>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuildFromDBResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImportMDL">
<xs:sequence>
<xs:element name="proId" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:string" minOccurs="0"/>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
<xs:element name="modelFile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImportMDLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayhello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayhelloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoveServer">
<xs:sequence>
<xs:element name="proID" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:string" minOccurs="0"/>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoveServerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>